include WDmodel/TlustyGrids.hdf5
include WDmodel/WDmodel_param_defaults.json
include tesh.sh
include test_WDmodel.py
include LICENSE
exclude docs/_build
exclude docs/api
exclude build/
exclude cache/
exclude products/
exclude dist/
exclude src/
global-include *.txt
global-include *.rst
global-include *.md
global-include *.py
global-include .gitkeep
global-exclude .DS_Store
global-exclude *.prof
global-exclude *.swp
global-exclude *.png
global-exclude out*/*
graft docs/
graft  WDmodel/tests/
prune scripts/
prune data/
prune WDdata/
