include WDmodel/TlustyGrids.hdf5
include WDmodel/WDmodel_param_defaults.json
include data/spectroscopy/spectable_resolution.dat
include data/spectroscopy/test.flm
include README.rst
include LICENSE
include docs/
exclude docs/_build
exclude docs/api
exclude build/
exclude cache/
exclude products/
exclude dist/
exclude src/
global-include *.txt
global-include *.md
global-include *.py
global-include .gitkeep
global-exclude .DS_Store
global-exclude *.prof
global-exclude *.swp
global-exclude *.png
global-exclude out*/*
prune scripts/
