astropy==2.0.2
celerite==0.3.0
clint==0.5.1
corner==2.0.1
emcee==2.2.1
extinction==0.3.0
h5py==2.7.0
iminuit==1.2
matplotlib==2.1.0
mpi4py==3.0.0
numpy==1.12.1
pysynphot==0.9.8.7
scipy==1.0.0
six==1.11.0
uncertainties==3.0.1
