clint==0.5.1
mpi4py==3.0.0
numpy==1.12.1
h5py==2.7.0
scipy==1.0.0
pysynphot==0.9.8.7
iminuit==1.2
matplotlib==2.1.0
celerite==0.3.0
emcee==2.2.1
corner==2.0.1
astropy==2.0.2
extinction==0.3.0
uncertainties==3.0.1
